<div class="page-header">
  <h3>Runner #<%= @runner.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @runner.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/runners" class="btn btn-primary">
        Back
      </a>
      <a href="/runners/<%= @runner.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_runner/<%= @runner.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
