<div class="page-header">
  <h3>State #<%= @state.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @state.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/states" class="btn btn-primary">
        Back
      </a>
      <a href="/states/<%= @state.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_state/<%= @state.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
